* {
  box-sizing: border-box;
}

.header {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center; */
  margin-top: 200px;
  margin-left: 175px;
}

.GachNgang {
  border: solid 1px black;
  width: 262px;
  height: 1px;
  margin-top: 15px;
  color: gray;
}

.heading-row-top {
  display: flex;
}

.heading-row-top .title {
  margin: 0 20px;
  font-size: 30px;
  font-weight: 900;
  /* font-family: "Host Grotesk", sans-serif; */
}

.row-bottom {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.row-bottom .HocWebChuan {
  background-color: #8598cc;
  padding: 65px 68px;
  color: white;
}
