* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;

  margin: 50px 250px;
}

.header-top {
  padding-top: 40px;
  margin-bottom: 40px;
}

.header-top .title {
  margin-left: 200px;
  margin-bottom: 50px;
  font-weight: 700;
}

.header-top .GachNgang {
  border: 2px solid #2f9797;
  margin-top: -40px;
  margin-bottom: 50px;
  width: 50px;
  border-radius: 4px;
  margin-left: 250px;
  transform: translateX(-10px);
}

/* .header-top .title::before {
  content: "";
  /* border: 1px solid black; */

.header-top .sub-title {
  color: gray;
}

.nav .sub-title {
  margin-right: 10px;
}

.header-bottom .row-line {
  display: flex;
}

.header-bottom .row-line .title {
  background-color: #9acc78;
  margin: 20px 15px;
  padding: 50px;
}
